steps:
- name: "prooph/composer:7.2"
  args: ['install']
- name: 'gcr.io/cloud-builders/npm'
  args: ['run', 'production']
- name: 'ubuntu'
  entrypoint: 'bash'
  args: ['-c', 'sed -i -e s#__ENV__#$_ENV# app.yaml']
- name: 'gcr.io/cloud-builders/gcloud'
  args: ['app', 'deploy', 'app.yaml', "--no-promote"]
substitutions:
  _ENV: DEV
